<nav>
    <ul>
        <li><a href="/createUser">Inscription</a></li>
        <li><a href="/matchData">Jeu</a></li>
        <li><a href="/currentMatchData">Json Match a venir</a></li>
        <li><a href="/login">Se connecter</a></li>
    </ul>
</nav>